<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>


<div class="container">

    <h1>Application Mcommerce</h1>
    <div class="row">
        <div th:each="kiid : ${kiids}" class="col-md-4 my-1">
            <a th:href="@{|/kiid/${kiid.getKiidId()}|}">
                <img th:src="${kiid.getKiidProperties().get('documentImg')}" class="card-img-top" />
                <p th:text="${kiid.getKiidProperties().get('ShareClass')}"></p>
            </a>
        </div>
    </div>

</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>